.contenedor {
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.imagen {
    width: 500px;
    margin-right: 10px;
}
.detailed-description {
    padding: 5px;
}
.contador {
    margin-top: 50px;
}