.contenedor {
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.imagen {
    width: 500px;
    margin-right: 10px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid black;

}
.detailed-description {
    padding: 5px;
}
.contador {
    margin-top: 50px;
}
.price, .detailed-description{
    text-align: justify;
}
.description {
    margin-top: 10%;
}
.imagenes-secundarias-detail{
    width: 200px;
    height: 200px;
    margin: 60px;
    border: 2px solid black;
    border-radius: 20px;
    object-fit: cover;
}