.carrito {
    font-size: 35px;
    position: relative;
}
.numero{
    font-weight: bold;
    font-size: 20px;
}
.contenedor-carro{
    display: flex;
    width: 60px;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.lista-carrito-productos{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.caracteristicas-carrito{
display: flex;
align-items: center;
}
.caracteristicas-carrito p{
    margin: 55px;
}
.imagen-producto-carrito{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 5px;
}
.borrar-carrito{
    width: 23px;
    height: 40px;
    color: red;
    background: transparent;
    border: none;
    font-size: 23px;
    cursor: pointer;
}
.total-borrar {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-right: 90px;
}
.borrar-carro-completo{
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.767);
    font-weight: bold;
    width: 200px;
}
.contenedor-no-productos{
    text-align: center;
    margin-top: 20px;
}