.card-container {
    background-color: aquamarine;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    margin: 20px;
}
.image-one {
    width: 230px;
    height: 230px;
    margin: 20px 60px;
    object-fit: cover;
    border-radius: 10px;
}

.producto-name {
    margin: 5px;
    text-align: center;
    font-size: 23px;
}
.stock {
    margin: 5px;
    text-align: center;
}
.cards-productos {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: 550px;
    justify-items: center;
    align-items: center;
    margin-top: 25px;
    gap: 30px;
    padding: 10px;
}