.contenedor-contador {
    display: flex;
    margin: 5px;
    flex-direction: column;
}
.botones-superiores {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.botones-inferiores {
    text-align: center;
    margin: 4px;
}
.sumar, .restar {
    width: 50px;
    border-radius: 40%;
    border: none;
    background-color: darkgray;
    font-weight: bolder;
}
.agregar-producto {
    background-color: darkgray;
    border: none;
    text-align: center;
    width: 80%;
    height: 30px;
    border-radius: 20px;
    font-weight: bolder;
}
.sumar, .restar, .agregar-producto:hover {
    cursor: pointer;
}
.out {
    font-size: 15px;
    margin: 10px;
    font-style: italic;
}
.contador-view {
    font-weight: bolder;
}