.item-list-container {
    text-align: justify;
    font-size: 30px;
}
.contenedor-gif {
    text-align: center;
    margin-top: 20px;
}
.porky {
    width: 400px;
    border-radius: 40px;
}
.porky {
    transform: translateZ(0px);
    transition: ease 0.5s;
}
.porky:hover {
    transform: translateX(-10px) translateY(-10px) translateZ(10px);
    box-shadow: 30px 20px 40px 2px rgba(0, 0, 0, 0.774);
}